In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import difflib
import scipy.cluster.hierarchy as sch

In [2]:
movie = pd.read_csv("moviedata.csv")
print("Number of movies loaded: %s " % (len(movie)))
movie.head()

Number of movies loaded: 4803

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [3]:
indices = pd.Series(movie.index, index=movie['title']).drop_duplicates()
indices[:4802]

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
Cavite                                      4797
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
Length: 4802, dtype: int64

In [4]:
features = ['keywords','cast','genres','director','tagline']
for feature in features:
    movie[feature] = movie[feature].fillna('')
    
def combine_features(row):
    try:
        return row['keywords'] +" "+row['cast']+" "+row['genres']+" "+row['director']+" "+row['tagline']
    except:
        print ("Error:", row)

movie["combined_features"] = movie.apply(combine_features,axis=1)
movie["combined_features"]

0       culture clash future space war space colony so...
1       ocean drug abuse exotic island east india trad...
2       spy based on novel secret agent sequel mi6 Dan...
3       dc comics crime fighter terrorist secret ident...
4       based on novel mars medallion space travel pri...
                              ...
4798    united states\u2013mexico barrier legs arms pa...
4799     Edward Burns Kerry Bish\u00e9 Marsha Dietlein...
4800    date love at first sight narration investigati...
4801     Daniel Henney Eliza Coupe Bill Paxton Alan Ru...
4802    obsession camcorder crush dream girl Drew Barr...
Name: combined_features, Length: 4803, dtype: object

In [5]:
def title_from_index(index):
    return movie[movie.index == index]["title"].values[0]

def index_from_title(title):
    title_list = movie['title'].tolist()
    common = difflib.get_close_matches(title, title_list, 1)
    print(common)
    titlesim = common[0]
    return movie[movie.title == titlesim]["index"].values[0]

In [6]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(movie["combined_features"])
cosine_sim = cosine_similarity(count_matrix) 
print(cosine_sim)
user_movie = input("Enter movie of your choice:\t")
movie_index = index_from_title(user_movie)

similar_movies =  list(enumerate(cosine_sim[movie_index]))
similar_movies_sorted = sorted(similar_movies,key=lambda x:x[1],reverse=True)
i=0
print("\nOther movies you might be interested in:-\n")
for rec_movie in similar_movies_sorted:
        if(i!=0):
            print (i,") ",title_from_index(rec_movie[0]),sep="")
        i=i+1
        if i>50:
            break

[[1.         0.25253814 0.10206207 ... 0.         0.         0.        ]
 [0.25253814 1.         0.10997148 ... 0.05714286 0.         0.        ]
 [0.10206207 0.10997148 1.         ... 0.         0.09072184 0.        ]
 ...
 [0.         0.05714286 0.         ... 1.         0.         0.04264014]
 [0.         0.         0.09072184 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.04264014 0.         1.        ]]
Enter movie of your choice:	avengers
['The Avengers']

Other movies you might be interested in:-

1) Avengers: Age of Ultron
2) Captain America: The Winter Soldier
3) Captain America: Civil War
4) Iron Man 2
5) Thor: The Dark World
6) X-Men
7) The Incredible Hulk
8) Ant-Man
9) X-Men: The Last Stand
10) Captain America: The First Avenger
11) X2
12) Iron Man
13) X-Men: Apocalypse
14) Thor
15) Iron Man 3
16) X-Men: Days of Future Past
17) Deadpool
18) The Amazing Spider-Man 2
19) Man of Steel
20) Guardians of the Galaxy
21) Superman II
22) Spawn
23) Street Fighter: The Legend of Chun-Li
24) The Spirit
25) The Helix... Loaded
26) The Image Revolution
27) Batman v Superman: Dawn of Justice
28) X-Men: First Class
29) Teenage Mutant Ninja Turtles: Out of the Shadows
30) What's Your Number?
31) Fantastic Four
32) Down to Earth
33) X-Men Origins: Wolverine
34) Money Train
35) Beastmaster 2: Through the Portal of Time
36) Delgo
37) Star Trek Beyond
38) The Shadow
39) 2 Guns
40) Wild Wild West
41) The Hunger Games: Catching Fire
42) Watchmen
43) A Scanner Darkly
44) Star Trek Into Darkness
45) In the Heart of the Sea
46) Sin City
47) Star Trek
48) Meet Dave
49) Damnation Alley
50) London